@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Montserrat', sans-serif; 
    font-family: 'Raleway', sans-serif;
     background: #050218; */
    font-family: popins, sans-serif;
    margin: 0px;
    background: black;
    color: #fff;

}

html {
    scroll-behavior: smooth;
}

/* navigation bar  */

.logo{
    width: 140px;
}
.header{
    background-image: url("files/pic22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
   /* min-height: 700px; */
}

#element {
     color: #ff004f; 
   /* color: blueviolet;*/
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: relative;
    text-decoration: none;
}
nav ul li a::after {
    content: "";
    width: 0px;
    height: 3px;
    position: absolute;
    right: 0px;
    bottom: -6px;
    background: #f40b34;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

.items .ul span {
    color: orangered;
}

.items .ul a {
    font-size: 1.3rem;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

.items .ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    transition: 300ms ease;
    height: 4rem;
    margin: 0;
}

.items li {
    padding: .5rem 1.3rem;
    border-radius: 3rem;
}

.items li a:hover {
    color:#f40b34 ;
}

/* home section */
.container {
    margin: auto;
}
/*
.left,
.right {
    text-align: justify;
    line-height:1.5rem;
    width: 45%;
    padding: 1rem;
}
*/
.home {
    background-image: url("files/pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.col {
    display: flex;
    color: white;

}

.col .left {
    margin: 12rem 5rem;
    transition: all 1s ease;
    width: 90%;
    padding: 0;
}


.col .left a {
    background-color: rgb(135 0 26);
    color: aliceblue;
    border: 2px solid crimson;
    border-radius: 1rem;
    padding: 0.7rem;
    text-decoration: none;
}

.education .right a,
.project a,
.contact .btn,
.about .right a {
    background-color: rgb(135 0 26);
    color: aliceblue;
    border: 2px solid crimson;
    border-radius: 1rem;
    padding: 0.7rem;
    text-decoration: none;
    display: block;
    margin: auto;
    text-align: center;
    width: 8rem;
}

.home .col .left a:hover,
.education .right a:hover,
.project .left a:hover,
.contact .btn:hover,
.about .right a:hover {
    color: crimson;
    background: none;
}
.text ul{
    list-style-type: disclosure-closed;
}
.text li span{
    color: #461919;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0rem;
    line-height: 2.3rem;
}
.education .text li p{
    text-align: right;
    margin-top: 5px;
}


.skills {
    display: flex;
}

.skills .left {
    line-height: 1.5rem;
}
#rmbtn{
      color: brown;
    cursor: pointer;
}
.skills .left .readmoreinfo{
  display:none;
}

.skillsection h1,
.educationsection h1,
.projectsection h1,
.contactsection h1,
.aboutsection h1 {
    margin: 2rem 1rem;
    text-align: center;
    margin: 7rem 4rem 3rem 4rem;
}


.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 7rem;
}

.ProjectLeft{
    flex-basis: 30%;
}
.ProjectRight{
    flex-basis: 60%;
}

.project .ProjectLeft img {
    height: 17rem;
}
.project .text li{
    font-size: 1.3rem;
}
.project .text p{
    font-size: 1rem;
}

.contact-left {
    flex-basis: 40%;
}

.btnproject{
    margin-left: 10pc;
    margin-top: 3pc;
}



.Contact{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left p {
    margin-top: 30px;
    margin-left: 6pc;

}
.contact-left p i {
    color:#f40b34 ;
    margin-right: 14px;
    font-size: 25px;
}
.contact-left h1{
    margin-top: 0px;
    margin-right: 6pc;
}

.contact-right {
    flex-basis: 60%;
}

.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 90%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.social-icons {
    margin-top: 30px;
    margin-left: 6pc;

}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    background-color:#f40b34 ; /* Target a new background color */
    transform: translateY(-9px); 
}
.btn {
    display: block;
    width: fit-content;
    color: rgb(255, 255, 255);
    margin: 50px auto;
    border: 1px solid #f40b34;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 65px;
}
.btn.btn2 {
    display: inline-block;
    background: #f40b34;
}
form .btn2 {
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    padding: 14px 60px;
}

/*
  
*/

.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .leftAbout img {
    flex-basis: 35%;
}

.about .leftAbout img {
   width: 100%;
/* margin: auto 2rem; 
   margin-left: 12px;*/
   margin-top: 90px;
   border-radius: 15px;
   height: 25rem;
    
}
.about .rightAbout{
    margin-top: -85px;
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

 /* Tab navigation styling */
 .tabs {
    display: flex;
    margin: 20px 0 40px;
   /* cursor: pointer;
    margin-bottom: 10px; */
  }
  .tab {
   /* padding: 10px 20px; 
    margin-right: 5px;*/
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

  }
  .tab.active::after {
    width: 50%;
}
.tab::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f40b34;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
  /* Tab content styling */
  .tab-contents {
    display: none;
    
  }
  .tab-contents.active {
    display: block;
    
  }
  .tab-contents ul li{
    list-style: none;
    margin: 10px -40px;
    
  }
  .tab-contents ul li span{
    color: #f40b34;
    font-size: 14px;

  }

/*
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}*/

.container {
    padding: 10px 4%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #ffff;
}
#SH{
    text-align: center;
}
.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.service-list div {
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
   transition: background-color 0.5s, transform 0.5s;
}

.service-list div a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.service-list div:hover {
    background-color: #f40b34; /* Target a new background color */
    transform: translateY(-10px); 
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #f40b34;
}



/* Responsive code */
nav .fas{
    display: none;
}


@media only screen and (max-width:600px){

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: -16px;
        right:90px; 
        /*left: 190px;  */
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        
    }

    
     nav ul li{
        display: block;
        margin: 25px;
        margin-left: -19px;
     }
/*
     .open {
        right: 0 !important;
      }
    */
     nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
     }
     
     
     .sub-title {
        font-size: 40px;
    }

    .leftAbout {
        margin-bottom: 30px;
    }
    .rightAbout {
        font-size: 14px;
    }
    .leftAbout, .rightAbout {
        flex-basis: 100%;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    
    .left, .right {
       
        flex-basis: 100%;
    }
    
    .btnproject {
        margin-left: 5pc;
        margin-top: 3pc;
    }
    .project .ProjectLeft img {
        height: 11rem;
        padding-left: 25px;
    }

.ProjectLeft,.ProjectRight{
    flex-basis: 100%;
}

    .contact-left, .contact-right {
        flex-basis: 90%;
    }

    .contact-left h1 {
        margin-top: 0px;
        margin-right: 1pc;
    }
    .contact-left p {
        margin-top: 30px;
        margin-left: 4pc;
    
    }
    .social-icons {
        margin-top: 30px;
        margin-left: 6pc;
    
    }
    .contact-right form {
        width: 100%;
        margin-left: 15px;
    }
    .copyright {
        font-size: 14px;
    }
}


/*
@media (min-width:2000px) {
    body{
        display: none;
    }
}
@media (max-width:715px) {
    #btn {
        display: block;
    }
    #can{
        display: none;
    }

    .listitem {
        display: none;
    }

    .displayflex {
        display: block;
        text-align: center;
    }

    .flexcolumn {
        flex-direction: column;
    }

    .home,
    .skills,
    .project,
    .contact,
    .education,
    .about {
        display: block;
    }
    .col .left .text1,
    .col .left .text3
    {
        font-size: 1.5rem;
    }
    .col .left .text2{
        font-size: 2.5rem;
    }
    .left,
    .right {
        text-align: justify;
        width: 82%;
        margin: auto;
        padding: 1rem;
    }

    .images {
        display: block;
        margin: auto !important;
        height: 52% !important;
        width: 100% !important;
    }
    .col .left .text2 {
        margin: 1rem 0rem;
    }
    footer .fcol{
        display: flex;
        flex-direction: column;
        align-items: center
    }

    @media only screen and (max-width: 600px) {
        .sub-title {
            font-size: 40px;
        }
    }

}
*/

